#searchsave {
    height: 1080px;
    justify-content: flex-start;
    flex-direction: column;
}

#header {
    justify-content: center;
    background-color: #c4ced4;
    color: #0077c0;
    align-items: center;
    height: 100px;
}

#fiveDay {
 justify-content: center;
}

#oneDay {
    justify-content: center;
}

#present {
    background-color: aqua;
    justify-content: center;
    flex-wrap: wrap;

}

#future {
    background-color: #0077c0;
    justify-content: center;
    margin-top: 15px;
    flex-wrap: wrap;
}

#city {
    justify-content: center;

}

#table {
    flex-direction: column;
}